<div style="border: 2px solid black;
            font-size: 18px;
            padding: 10px;
            display: flex;
            margin-bottom: 30px">
            
        <div>
            <a class="menu-item" routerLink = '/insert'>Unesi</a>
        </div>
        <div>
            <a class="menu-item" routerLink = '/list' >Izlistaj</a>
        </div>
        <div>
            <a class="menu-item" routerLink = '/delete' >Obriši</a>
        </div>
        <div>
            <a class="menu-item" routerLink = '/update' >Ažuriraj</a>
        </div>
        <div>
            <a class="menu-item" routerLink = '/views' >Pogledi</a>
        </div>
        <div>
            <a class="menu-item" routerLink = '/stats' >Statistike</a>
        </div>
</div>