<div style="border: 2px solid black;
            font-size: 18px;
            padding: 10px;
            display: flex;
            margin-bottom: 30px">
            
        <div>
            <a class="menu-item" routerLink = '/insert'>Insert</a>
        </div>
        <div>
            <a class="menu-item" routerLink = '/list' >List</a>
        </div>
        <div>
            <a class="menu-item" routerLink = '/delete' >Delete</a>
        </div>
        <div>
            <a class="menu-item" routerLink = '/update' >Update</a>
        </div>
</div>