<h1 class = "title">{{ title }}</h1>

<form [formGroup] = "insertForm">
  <div class="field" *ngIf="!isSaveVisible()">
    <label class="lbl">ID:    </label>
    <input type="text" class="input" 
    formControlName="id">
  </div>
  <br *ngIf="!isSaveVisible()">
    <div class="field">
      <label class="lbl">First Name:   </label>
      <input type="text" class="input" 
      placeholder="format: Capitalized, 30 char max " 
      formControlName="firstName"
      required>
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('firstName')?.dirty 
        && insertForm.get('firstName')?.errors">
     <br>
      {{ getErrorMessage(insertForm.get('firstName')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">Last Name:   </label>
      <input type="text" class="input" 
      placeholder="format: Capitalized, 30 char max " 
      formControlName="lastName"
      required>
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('lastName')?.dirty 
        && insertForm.get('lastName')?.errors">
     <br>
     {{ getErrorMessage(insertForm.get('lastName')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">Height in cm:   </label>
      <input type="number" class="input" 
      placeholder="format: From 70 to 260. " 
      formControlName="heightInCm"
      required>
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('heightInCm')?.dirty 
        && insertForm.get('heightInCm')?.errors">
     <br>
      {{ getErrorMessage(insertForm.get('heightInCm')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">Date of Birth:   </label>
      <input type="text" class="input" 
      placeholder="format: yyyy/MM/dd" 
      formControlName="dateOfBirth"
      required>
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('dateOfBirth')?.dirty
        && insertForm.get('dateOfBirth')?.errors">
     <br>
     {{ getErrorMessage(insertForm.get('dateOfBirth')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">Birth city code:   </label>
      <input type="number" class="input" 
      placeholder="format: From 11000 to 40000"
      formControlName="birthCityCode">
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('birthCityCode')?.dirty
        && insertForm.get('birthCityCode')?.errors">
     <br>
     {{ getErrorMessage(insertForm.get('birthCityCode')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">Residence city code:   </label>
      <input type="number" class="input" 
      placeholder="format: From 11000 to 40000" 
      formControlName="residenceCityCode">
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('residenceCityCode')?.dirty
        && insertForm.get('residenceCityCode')?.errors">
     <br>
     {{ getErrorMessage(insertForm.get('residenceCityCode')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">Age (months):   </label>
      <input type="number" class="input" 
      placeholder="calculating age..." 
      formControlName="age"
      [value]="calculateAgeIfPossible()">
    </div>
    <br>
    <div style="display: flex;">
      <div style="margin-right: 30px;">
        <button class="frm-btn" type="submit" 
        *ngIf="isSaveVisible()" (click)="savePerson()" 
        [disabled] = "!insertForm.valid">Save</button>
      </div>
      <div>
        <button class="frm-btn" type="submit"
        *ngIf="!isSaveVisible()" (click)="updatePerson()"
        [disabled]="!insertForm.valid"
        >Update</button>
      </div>
      </div>
</form>