<h1 class = "title">{{ title }}</h1>

<form [formGroup] = "insertForm">
  <div class="field" *ngIf="!isSaveVisible()">
    <label class="lbl">ID:    </label>
    <input type="text" class="input" 
    formControlName="id">
  </div>
  <br *ngIf="!isSaveVisible()">
    <div class="field">
      <label class="lbl">Ime:   </label>
      <input type="text" class="input" 
      placeholder="format: Veliko slovo, 30 slova maks " 
      formControlName="firstName"
      required>
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('firstName')?.dirty 
        && insertForm.get('firstName')?.errors">
     <br>
      {{ getErrorMessage(insertForm.get('firstName')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">Prezime:   </label>
      <input type="text" class="input" 
      placeholder="format: Veliko slovo, 30 slova maks " 
      formControlName="lastName">
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('lastName')?.dirty 
        && insertForm.get('lastName')?.errors">
     <br>
     {{ getErrorMessage(insertForm.get('lastName')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">Visina u cm:   </label>
      <input type="number" class="input" 
      placeholder="format: Od 70 do 260. " 
      formControlName="heightInCm"
      required>
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('heightInCm')?.dirty 
        && insertForm.get('heightInCm')?.errors">
     <br>
      {{ getErrorMessage(insertForm.get('heightInCm')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">Datum rođenja:   </label>
      <input type="text" class="input" 
      placeholder="format: yyyy/MM/dd" 
      formControlName="dateOfBirth"
      required>
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('dateOfBirth')?.dirty
        && insertForm.get('dateOfBirth')?.errors">
     <br>
     {{ getErrorMessage(insertForm.get('dateOfBirth')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">PPT rodnog grada:   </label>
      <input type="number" class="input" 
      placeholder="format: Od 11000 do 40000"
      formControlName="birthCityCode">
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('birthCityCode')?.dirty
        && insertForm.get('birthCityCode')?.errors">
     <br>
     {{ getErrorMessage(insertForm.get('birthCityCode')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">PPT grada stanovanja:   </label>
      <input type="number" class="input" 
      placeholder="format: Od 11000 do 40000" 
      formControlName="residenceCityCode">
    </div>
    <div class="error-message"
    *ngIf="insertForm.get('residenceCityCode')?.dirty
        && insertForm.get('residenceCityCode')?.errors">
     <br>
     {{ getErrorMessage(insertForm.get('residenceCityCode')) }}
    </div>
    <br>
    <div class="field">
      <label class="lbl">Starost (u mesecima):   </label>
      <input type="number" class="input" 
      placeholder="računam starost..." 
      formControlName="age"
      [value]="calculateAgeIfPossible()">
    </div>
    <br>
    <div style="display: flex;">
      <div style="margin-right: 30px;">
        <button class="frm-btn" type="submit" 
        *ngIf="isSaveVisible()" (click)="savePerson()" 
        [disabled] = "!insertForm.valid">Sačuvaj</button>
      </div>
      <div>
        <button class="frm-btn" type="submit"
        *ngIf="!isSaveVisible()" (click)="updatePerson()"
        [disabled]="!insertForm.valid"
        >Ažuriraj</button>
      </div>
      </div>
</form>