<h1>Select a person</h1>
<select class = "drop-down"
        [(ngModel)] = "selectedId">
    <option value = undefined disabled selected>
        Select a person to {{ mode }}
    </option>
    <option *ngFor="let person of persons" [value]="person.id">
        {{ person.firstName + ' ' + person.lastName}}
    </option>
</select>
<br>
<br>
<button *ngIf="mode == 'delete'" (click)="deletePersonByID(
    selectedId)"> DELETE </button>

<app-person-insert *ngIf="findByIdLocally(selectedId).length > 0 &&
    mode == 'update'" [title]="'Update Person'" 
    [personForUpdate]="personDisplayToSave(
        findByIdLocally(selectedId)[0])"
    ></app-person-insert>

<app-person-list *ngIf="findByIdLocally(selectedId).length > 0 && 
    mode == 'delete'" [displayExtras]="false" 
[filteredPersons]="findByIdLocally(selectedId)"></app-person-list>

