<h1 class="title">Person data:</h1>
<label>SEARCH BY NAME:   </label>
<input type="text" placeholder="Search..." 
        [(ngModel)] = "nameSearch"
        (keyup)="filterBy('firstName', nameSearch)" >
<br>
<br>
<label>SEARCH BY LAST NAME:   </label>
<input type="text" placeholder="Search..."
        [(ngModel)] = "lastNameSearch"
        (keyup)="filterBy('lastName', lastNameSearch)">
<br>
<br>
<table class="table">
    <thead class="table_head">
        <tr>
            <th>ID:</th>
            <th>First Name: </th>
            <th>Last Name: </th>
            <th>Date of birth: </th>
            <th>Age (months): </th>
            <th>City of birth name: </th>
            <th>City of birth code: </th>
            <th>City of residence name: </th>
            <th>City of residence code: </th>
        </tr>
    </thead>
    <tbody class = "table_body">
        <tr *ngFor="let person of filteredPersons;">
            <td>{{person.id}}</td>
            <td>{{person.firstName}} </td>
            <td>{{person.lastName}}</td>
            <td>{{person.dOB}}</td>
            <td>{{person.ageInMonths}}</td>
            <td>{{person.cityOfBirthName}}</td>
            <td>{{person.cityOfBirthPTBR}}</td>
            <td>{{person.cityOfResidenceName}}</td>
            <td>{{person.cityOfResidencePTBR}}</td>
            </tr>
    </tbody>
</table>