<h1 class="title">{{ title }}</h1>
<div *ngIf="displayExtras">
<label>PRETRAGA PO IMENU:   </label>
<input id="first-name-input" type="text" placeholder="Pretraži..." 
        [(ngModel)] = "nameSearch"
        (keyup)="filterBy('firstName', nameSearch)" >
<br>
<br>
<label>PRETRAGA PO PREZIMENU:   </label>
<input id="last-name-input" type="text" placeholder="Pretraži..."
        [(ngModel)] = "lastNameSearch"
        (keyup)="filterBy('lastName', lastNameSearch)">
<br>
<br>
</div>
<table class="table">
    <thead class="table_head">
        <tr>
            <th>ID:</th>
            <th>Ime: </th>
            <th>Prezime: </th>
            <th>Visina u cm: </th>
            <th>Datum rođenja: </th>
            <th>Starost (u mesecima): </th>
            <th>Ime rodnog grada: </th>
            <th>PPT rodnog grada: </th>
            <th>Ime grada stanovanja: </th>
            <th>PPT grada stanovanja: </th>
        </tr>
    </thead>
    <tbody class = "table_body">
        <tr *ngFor="let person of filteredPersons;">
            <td>{{person.id}}</td>
            <td>{{person.firstName}} </td>
            <td>{{person.lastName}}</td>
            <td>{{person.heightInCm}}</td>
            <td>{{person.dOB}}</td>
            <td>{{person.ageInMonths}}</td>
            <td>{{person.cityOfBirthName}}</td>
            <td>{{person.cityOfBirthPPTBR}}</td>
            <td>{{person.cityOfResidenceName}}</td>
            <td>{{person.cityOfResidencePPTBR}}</td>
            </tr>
    </tbody>
</table>