<h1>Izaberite osobu</h1>
<select class = "drop-down"
        [(ngModel)] = "selectedId">
    <option value = undefined disabled selected>
        Izaberite osobu za {{ mode }}
    </option>
    <option *ngFor="let person of persons" [value]="person.id">
        {{ person.firstName + ' ' + person.lastName}}
    </option>
</select>
<br>
<br>
<button class="frm-btn" *ngIf="mode == 'brisanje'" (click)="deletePersonByID(
    selectedId)"> OBRIŠI </button>

<app-person-insert *ngIf="findByIdLocally(selectedId).length > 0 &&
    mode == 'ažuriranje'" [title]="'Ažuriraj Osobu'" 
    [personForUpdate]="personDisplayToSave(
        findByIdLocally(selectedId)[0])"
        (updated)="onPersonUpdated($event)"
    ></app-person-insert>

<app-person-list *ngIf="findByIdLocally(selectedId).length > 0 && 
    mode == 'brisanje'" [displayExtras]="false" 
[filteredPersons]="findByIdLocally(selectedId)"></app-person-list>

