.table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
  }
  
  .table_head th, .table_body td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }
  
  .table_head {
    background-color: #f2f2f2; 
  }
  
  .error-message{
    font-size: 15px;
    color: red;
    font-weight: bold;
  }

.input{
  min-width: 200px;
  width: auto;
}